RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC]
RewriteCond %{HTTP_HOST} ^wesunsolve.be$ [OR]
RewriteCond %{HTTP_HOST} ^sunsolve.espix.org$
RewriteRule ^(.*)$ http://wesunsolve.net/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+\.php)$(.+)$ $1/$2 [L,QSA]
Options MultiViews FollowSymLinks
