Options MultiViews FollowSymLinks -Indexes

<files .htaccess>
  order allow,deny
  deny from all
</files>

# BEGIN Expire headers
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresDefault "access plus 7200 seconds"
 ExpiresByType image/jpg "access plus 2592000 seconds"
 ExpiresByType image/jpeg "access plus 2592000 seconds"
 ExpiresByType image/png "access plus 2592000 seconds"
 ExpiresByType image/gif "access plus 2592000 seconds"
 AddType image/x-icon .ico
 ExpiresByType image/ico "access plus 2592000 seconds"
 ExpiresByType image/icon "access plus 2592000 seconds"
 ExpiresByType image/x-icon "access plus 2592000 seconds"
 ExpiresByType text/css "access plus 2592000 seconds"
 ExpiresByType text/javascript "access plus 2592000 seconds"
 ExpiresByType text/html "access plus 7200 seconds"
 ExpiresByType application/xhtml+xml "access plus 7200 seconds"
 ExpiresByType application/javascript A259200
 ExpiresByType application/x-javascript "access plus 2592000 seconds"
 ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
</IfModule>
# END Expire headers

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\\.(ico|jpe?g|png|gif|swf|gz|ttf)$">
 Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(css)$">
 Header set Cache-Control "max-age=2592000, public"
 </FilesMatch>
 <FilesMatch "\\.(js)$">
 Header set Cache-Control "max-age=2592000, private"
 </FilesMatch>
<filesMatch "\\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers

Header unset ETag
FileETag none

RewriteEngine on

##
# Deny wget
##
#RewriteCond %{HTTP_USER_AGENT} wget [NC]
#RewriteCond %{REQUEST_FILENAME} !denied.php$ [NC]
#RewriteRule ^(.*)$ denied.php [F,L]

##
# Ban list
##
RewriteEngine On
RewriteCond %{REMOTE_ADDR} ^83\.217\.169\.27 [OR]
RewriteCond %{REMOTE_ADDR} ^2001:da8:2000:2192:
RewriteCond %{REQUEST_FILENAME} !denied.php$ [NC]
RewriteCond %{REQUEST_FILENAME} !/css/ [NC]
RewriteCond %{REQUEST_FILENAME} !/contact [NC]
RewriteCond %{REQUEST_FILENAME} !/docs [NC]
RewriteCond %{REQUEST_FILENAME} !/ajax/ [NC]
RewriteCond %{REQUEST_FILENAME} !/js/ [NC]
RewriteCond %{REQUEST_FILENAME} !/img/ [NC]
RewriteCond %{REQUEST_FILENAME} !/static/ [NC]
RewriteCond %{REQUEST_FILENAME} !/downloads/ [NC]
RewriteRule ^(.*)$ http://wesunsolve.net/denied.php [R=301,L,S=42]

##
# Redirect all domains to wesunsolve.net
##
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC]
RewriteCond %{HTTP_HOST} ^wesunsolve.be$ [OR]
RewriteCond %{HTTP_HOST} ^78.46.118.46$ [OR]
RewriteCond %{HTTP_HOST} ^sunsolve.espix.org$
RewriteRule ^(.*)$ http://wesunsolve.net/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+\.php)$(.+)$ $1/$2 [L,QSA]

##
# If it ever happen... I'm ready...
##
#RewriteCond %{HTTP_REFERER} ^.*slashdot.*$
#RewriteRule ^$ http://wesunsolve.net/static/main.html [R=301,L]

ErrorDocument 404 /404
