/**
 * We Sun Solve! main CSS theme
 *
 * 2011 - Gouverneur Thomas <tgo@ians.be>
 */


/**
 * body style
 */
body {
  background-color: #ffffff;
  color: #000000;

  font-family: sans-serif;
  font-style: normal;
  font-size: 0.9em;

  min-height:100%;
  width: 100%;
}

#d_title {
  background-color: #3e6b8a;
  color: #ffffff;
}

#d_title a {
  color: #ffffff;
  text-decoration: none;
}

.d_bar {
  background-color: #3e6b8a;
  color: #ffffff;
  padding-top: 5px;
}

.d_bar a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.d_bar a:hover {
  text-decoration: underline;
}

#d_header {
}

#d_footer {
  text-align: center;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  margin-top: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

#h_patch {
  margin-left: 5px;
}

.h_forms {
  padding-top: 2px;
  padding-bottom: 2px;
}

.h_forms input {
  background-color: #bfcddb;
  border: solid 1px #000000;
  font-size: 0.8em;
  margin: 0px;
  margin-right: 2px;
}

.h_forms input[type="checkbox"] {
  padding-left: 5px;
  padding-right: 1px;
}

.h_forms input[type="submit"] {
  margin: 0px;
  padding: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

.h_forms input[type="image"] {
  margin: 0px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  vertical-align: middle;
  margin-right: 1px;
  border: 0;
  background-color: #3e6b8a;
}

.h_forms input[type="password"] {
  width: 100px;
}

.h_forms input[type="text"] {
  width: 100px;
}

#h_login {
  font-size: 0.8em;
  text-align: right;
  vertical-align: middle;
  min-width: 200px;
  padding-right: 15px;
}

#d_menu {
  min-width: 180px;
  margin-top: 20px;
  border: solid 1px #000000;
  background-color: #dde6ec;
}

#d_menu p {
  font-size: 0.7em;
  text-align: center;
  color: #000000;
  padding-top:5px;
  padding-bottom:5px;
}

#d_menu img {
  vertical-align: sub;
}

.m_header {
//  list-style-image: url('/img/asterisk_yellow.png');
  list-style-position: inside;
  vertical-align: middle;
  background-color: #3e6b8a;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  font-variant: small-caps;
  text-align: left;
  padding-left: 3px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.m_header a {
  text-decoration: none;
  color: #E68C17;
}

.m_header a:hover {
  text-decoration: underline;
}

.m_element {
  background-color: #dde6ec;
  font-weight: normal;
  padding-left: 10px;
  font-size: 0.9em;
  padding-bottom: 2px;
  padding-top: 2px;
}

.m_element a {
  color: #3e6b8a;
  text-decoration: none;
}

.m_element:hover {
  background-color: #eeeeee;
  text-decoration: underline;
}

a {
  
}

a:hover {
}

#footer {
}

.h_hr {
  height: 1px;
  border: 0px;
  color: #000000;
  background-color: #000000;
}

#d_title  h1, h2 {
  text-align: left;
  font-family: sans-serif;
}

#d_title {
  padding-bottom: 10px;
}

#h_snet {
  min-width: 160px;
}

#d_title h1 {
  font-variant: small-caps;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  padding-left: 5px;
  padding-top: 5px;
}

#d_title h2 {
  font-style: italic;
  font-size: 0.9em;
  padding-left: 20px;
}

#h_forms fieldset {
  padding-left: 2px;
}


#f_menu_patch_input {
  width: 65px;
}

#f_menu_bug_input {
  width: 65px;
}

.d_content_box {
  background-color: #dde6ec;
  border: solid 1px #000000;
  padding-left: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#d_content {
  margin-top: 20px;
}

p#addcomment {
  vertical-align: middle;
  padding-top: 5px;
  text-align: right;
}

#d_content h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
}

#d_content h2 {
  color: #04304F;
  font-variant: normal;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  border-right: solid 1px #000000;
  border-left: solid 1px #000000;
  border-top: solid 1px #000000;
  background-color: #dde6ec;
  padding-top: 5px;
  margin-left: 25px;
  padding-bottom: 5px;
}

.d_content_box h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 18px;
  margin-left: 35px;
  font-variant: small-caps;
}

.d_content_box h4 {
  font-size: 1.0em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.d_content_box p {
  font-size: 1em;
  font-weight: normal;
  text-indent: 15px;
  margin-bottom: 10px;
}

#d_content b {
  font-weight: bold;
}

#d_content i {
  font-weight: italic;
}

ul.listtick {
  list-style-type:none;
  list-style-image:url('/img/tick.png');
  vertical-align: middle;
  padding:0px;
  margin:0px;
}

.d_content_box li {
  margin-left:40px;
}

#d_content a {
  color: #3e6b8a;
  text-decoration: none;
}

#d_content a:hover {
  text-decoration: underline;
}

.red {
  color: red;
}

.orange {
  color: #ff9900;
}

.green {
  color: green;
}

/**
 * Lists and tables
 */

.ctable {
  margin-left: auto;
  margin-right: auto;
}

.ctable th {
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
}

.ctable td {
  padding-left: 3px;
  padding-right: 3px;
}

.tdcode {
  font-size: 0.8em;
}

#tdtitle {
  background-color: #3e6b8a;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
}

#tdtitle a, #tdtitle a:hover, #tdtitle a:visited {
  color: #ffffff;
  font-weight: bold;
}


.greentd {
  background-color: green;
}

.orangetd {
  background-color: #ff9900;
}

.browntd {
  background-color: brown;
}

.redtd {
  background-color: red;
}

.navtd {
  font-size: 0.8em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#legend {
  padding-top: 10px;
  padding-bottom: 10px;
}

#add_uclist_form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p.warning {
  border: solid 1px;
  color: red;
  text-align: center;
}

ul.listinfo {
  list-style-type:none;
  list-style-image:url('/img/information.png');
}

#boxes {
}

.listbox {
  min-width: 185px;
  background-color: #dde6ec;
  border: solid 1px;
  margin-top: 20px;
}

.listbox h3 {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  font-variant: small-caps;
  text-align: center;
  background-color: #3e6b8a;
  color: #ffffff;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.listbox ul {
  list-style-type:disc;
  list-style-position: inside;
  vertical-align: middle;
  padding: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
}

.listbox li {
  margin-left: 10px;
  padding-left: 0px;
  font-size: 0.9em;
  padding-bottom: 2px;
  padding-top: 2px;
}

/* pagination */
.paging {
	line-height:2em;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
}
.paging a,
.paging span {
	padding:0.2em 0.5em;
}
.paging a {
	border:1px solid #9AAFE5;
	color:#105CB6;
	text-decoration:none;
}
.paging a:hover {
	border:1px solid #296BB5;
	color:#000031;
}
.paging .prevnext {
	font-weight:bold;
}
.paging span.disabled { 
	border:1px solid #DDDDDD;
	color:#999999;
}
.paging span.current {
	border:1px solid #2E6AB1;
	background-color:#2E6AB1;
	color:#ffffff;
	font-weight:bold;
}

.newimg {
	vertical-align: sub;
}
